#form-root-container {
    width: 95%;
}

@media (max-width: 800px) {
    #form {
        display: grid;
        grid-template-areas: 
        "image"
        "select-image"
        "h-sep"
        "name"
        "last-name"
        "id"
        "phone"
        "birthdate"
        "address"
        "country"
        "city"
        "submit";
        grid-template-rows: 200px auto 2px repeat(9, 1fr);
        grid-template-columns: 100%;
        gap: 10px 0px;
    }

    #edit-v-sep {
        display: none;
    }

    #edit-h-sep {
        grid-area: h-sep;
    }

    #form * {
        font-size: 1em;
    }

    #profile-image {
        max-width: 90%;
        max-height: 95%;
    }
}

@media (min-width: 800px) {
    #form {
        display: grid;
        grid-template-areas: 
        "name name last-name last-name v-sep image"
        "id phone birthdate birthdate v-sep image"
        "address address country city v-sep image"
        "submit submit submit submit v-sep select-image";
        grid-template-columns: repeat(4, minmax(200px, 1fr)) 2px 400px;
        gap: 40px 10px;
        min-height: 60vh;
    }

    #edit-v-sep {
        grid-area: v-sep;
    }

    #edit-h-sep {
        display: none;
    }

    #form * {
        font-size: 1.2em;
    }

    #profile-image {
        max-width: 380px;
        max-height: 600px;
    }
}

#form input,
#form select {
    min-height: 1.5em;
    outline: none;
    padding: 0px 5%;
    border-radius: 25px;
    border: var(--hint-color) solid 2px;
    background-color: inherit;
    color: inherit;
    transition: inherit;
}

#form input:focus,
#form select:focus {
    border: var(--primary-color) solid 2px;
}

#form input {
    background: linear-gradient(var(--primary-color), var(--primary-color)) center bottom 10% /90% 0px no-repeat;
    transition: background-size 0.3s ease;
}

#form input:focus {
    background-size: 90% 3px;
}

#name-input {
    grid-area: name;
}

#last-name-input {
    grid-area: last-name;
}

#id-input {
    grid-area: id;
}

#phone-input {
    grid-area: phone;
}

#birthdate-div {
    grid-area: birthdate;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0px 5%;
    margin-right: auto;

    border: var(--hint-color) 2px solid;
    border-radius: 25px;

    background: linear-gradient(var(--primary-color), var(--primary-color)) center bottom 10% /90% 0px no-repeat;
    transition: background-size 0.3s ease;
}

#birthdate-div:hover {
    border: var(--primary-color) solid 2px;
    background-size: 90% 3px;
}

#birthdate-label {
    font-size: 1.05em;
}

#birthdate-input {
    border: none !important;
    font-size: 1.05em;
}

#birthdate-input:focus {
    border: none !important;
    background: none !important;
}

#address-input {
    grid-area: address;
}

#country-select {
    grid-area: country;
}

#city-select {
    grid-area: city;
}

#profile-image {
    grid-area: image;
    align-self: center;
    justify-self: center;
}

#image-label {
    grid-area: select-image;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 25px;
}

#image-input {
    display: none;
}

#submit-button {
    grid-area: submit;
    justify-self: center;
    border: none;
    padding: 0px 30px;
    border-radius: 25px;
}