svg#profile-pic {
    fill: var(--fg-color);
    width: 300px;
}

@media (orientation: landscape) {
    #pi-container {
        display: grid;
        grid-template-areas: 
        "name name name"
        "h-sep h-sep h-sep"
        ". v-sep image"
        ". v-sep image"
        ". v-sep image"
        ". v-sep image"
        ". v-sep image"
        ". v-sep image"
        ". v-sep image";
    
        grid-template-columns: auto 2px 300px;
        gap: 15px 15px;
    }

    #pi-h-sep {
        grid-area: h-sep;
    }

    #pi-v-sep {
        grid-area: v-sep;
    }
    
    #profile-pic {
        grid-area: image;
        width: 300px;
        align-self: center;
    }
    
    #name {
        grid-area: name;
    }
}

@media (orientation: portrait) {
    #pi-container {
        display: grid;
        grid-template-rows: repeat(11, auto);
        overflow: hidden;
        row-gap: 15px;
    }
    
    #profile-pic {
        grid-row: 1;
        width: 300px;
        justify-self: center;
    }

    #name {
        justify-self: center;
    }
    
    #pi-h-sep {
        grid-row: 3;
    }
    
    #pi-v-sep {
        display: none;
    }
}